@inherits UmbracoViewPage<AuditableMedia>
@{
	AuditableMedia content = Model;
}

<a href="/umbraco#/media/media/edit/@content.UmbPublishedNode.Id" target="_blank">Edit</a>

@try
{
	if (!string.IsNullOrEmpty(content.UmbPublishedNode.Url()))
	{
		<span> | </span><a href="@content.UmbPublishedNode.Url()" target="_blank">View</a>
	}
}
catch (Exception e)
{
	<span> | [Error - No Published Url]</span>
	<!-- Exception: @e.Message  -->
}

